@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 55px;
    line-height: 70px;
    color: black
}
h2{
    font-size: 48px;
    line-height: 60px;
    color: black;
}
h3{
    font-size: 25px;
    color: black;
}
h4{
    font-size: 20px;
    color: black;
}
h6{
    font-size: 15px;
    color: black;
    font-weight: 700;
}
p{
    font-size: 18px;
    color: gray;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 50px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    padding: 15px 25px;
    transition: 0.2s ease;
    border-radius: 6px;
    outline: none;
    border: none;
}
button.white{
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    background-color: transparent;
    padding: 15px 25px;
    transition: 0.2s ease;
    outline: none;
    border: 1.5px solid white;
}
body{
    width: 100%;
}

                                 /* HEADING SECTION*/

#header{
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background: #e3e6f3;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    left: 0;

}
#header a img{
    width: 75px;
    margin-left: 15px;
    margin-top: 5px;
}
#navbar{
    display: block;
    position: relative;
}

#navbar a{
    text-decoration: none;
    position: relative;
    margin-left: 45px;
    font-size: 19px;
    color: #1a1a1a;
    font-weight: 700;
    transition: 0.4s ease;
}
#navbar .login{
    margin-right: 63px;
    margin-left: -47px;
}
#navbar i{
    margin-right: 80px;
}
#navbar a:hover,
#navbar a.active{
    color: #088178;
}
#navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 80%;
    height: 3px;
    bottom: -15px;
    background-color: #088178;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}
#navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
    align-items: center;
}
                                    /* HOME SECTION*/

#hero{
    /* background-image: linear-gradient(rgb(201, 212, 245, 0.1),rgb(201, 215, 250,0.1)) ,url('img/himg01.jpg'); */
    background-image: url('img/himg01.jpeg');
    height: 98vh;
    width: 100%;
    /* display: block; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 0px 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 999;
} 
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url('img/hbtn.png');
    background-color: transparent;
    background-size: cover;
    color: black;
    border: 0;
    padding: 31px 82px 21px 93px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
} 

                                    /*FEATURE SECTION*/

#feature{
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#feature .fe-box{
    width: 180px;
    padding: 21px 8px;
    margin: 15px 0;
    border-radius: 7px;
    border: 1.5px solid rgb(190, 184, 175);
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    position: relative;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 64px rgba(70, 70, 70, 0.04);
}    
#feature .fe-box img{
    width: 100%;
    height: 78%;
    display: block;
    margin-bottom: 11px;
}
#feature .fe-box h6{
    display: inline-block;
    line-height: 1;
    margin: 15px 0;
    color: #088178;
    background-color: rgb(221, 149, 161);
    border: 5px;
    border-radius: 5px;
    padding: 8px 9px 8px 9px;
}
#feature .fe-box:nth-child(2) h6{
    background-color: rgb(170, 218, 170);
}
#feature .fe-box:nth-child(3) h6{
    background-color: rgb(172, 172, 200);
}
#feature .fe-box:nth-child(4) h6{
    background-color: rgb(160, 133, 160);
}
#feature .fe-box:nth-child(5) h6{
    background-color: rgb(87, 78, 87);
}
#feature .fe-box:nth-child(6) h6{
    background-color: rgb(201, 187, 162);
}

                                    /*PRODUCT FEATURE SECTION*/

#product1{
    text-align: center;
}
#product1 .pro-containerr{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    border: 1px solid rgb(180, 172, 172);
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 20px 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    margin: 15px 0;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 15px 25px rgba(0, 0, 0, 0.4);
}
#product1 .pro img{
    width: 100%;
    border-radius: 15px;
}
#product1 .pro .des{
    text-align: start;
    padding: 12px 0;
}
#product1 .pro .des span{
    color: rgb(81, 80, 80);
    font-size: 15px;
}
#product1 .pro .des h5{
    color: #1a1a1a;
    padding-top: 8px;
    font-size: 18px;
}
#product1 .pro .des i{
    font-size: 15px;
    color: rgb(209, 157, 26);
}
#product1 .pro .des h4{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #088178;
}
#product1 .pro a{
    color: #088178;
    font-weight: 600;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 55px;
    background-color: #e3e6f3;
    border: 1px solid azure;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

                                    /*BANNER SECTION*/
                            
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/ban.jpg');
    width: 100%;
    height: 32vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: white;
    font-size: 20px;
}
#banner h2{
    font-size: 40px;
    color: white;
    padding: 12px 0;
}
#banner h2 span{
    color: rgb(160, 40, 40);
}
#banner button:hover{
    color: white;
    background-color: #088178;
}

                                    /*SMALL BANNER SECTION*/

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}                                
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url('img/sm-ban1.jpg');
    min-width: 620px;
    height: 50vh;
    background-size: cover;
    padding: 30px;
    background-position: center;
}
#sm-banner .banner-box2{
    background-image: url('img/sm-ban2.jpg');
}
#sm-banner h4{
    color: white;
    font-size: 22px;
    font-weight: 400;
}
#sm-banner h2{
    color: white;
    font-size: 33px;
    font-weight: 1000;
}
#sm-banner span{
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 18px;
}
#sm-banner span{
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 18px;
}
#sm-banner .banner-box:hover button{
    color: white;
    background-color: #088178;
}

                                    /*BANNER 3 SECTION*/

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url('img/ban31.jpg');
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    padding: 20px;
    background-position: center;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url('img/ban32.jpg');
}
#banner3 .banner-box3{
    background-image: url('img/ban33.jpg');
}
#banner3 h2{
    color: white;
    font-size: 25px;
    font-weight: 1000;
}
#banner3 h2{
    color: rgb(186, 81, 81);
    font-size: 20px;
    font-weight: 800;
}

                                    /*NEWSLETTER SECTION*/

#newsletter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url('img/news.jpg');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-size: cover;
}
#newsletter h4{
    font-size: 25px;
    font-weight: 800;
    color: white;
}
#newsletter p{
    color: rgb(132, 112, 112);
    font-weight: 600;
    font-size: 18px;
}
#newsletter span{
    color: gold;
}
#newsletter .text{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.12rem;
    width: 100%;
    padding: 0px 1.2em;
    font-size: 15px;
    border: 1.2px solid transparent;
    border-radius: 6px;
    outline: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

                                   /*FOOTER SECTION*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col .logo{
    width: 100px;
    margin-bottom: 25px;
}
footer h4{
    font-size: 20px;
    padding-bottom: 18px;
}
footer p{
    font-size: 16px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer img {
    width: 150px;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: rgb(31, 31, 31);
    cursor: pointer;
    padding-right: 5px;
}
footer .install .row  img{
    border: 1.5px solid #088178;
    border-radius: 10px;
}
footer .install img{
    margin: 12px 0px 15px 0;;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}

                                  /*MEDIA HOME SECTION*/

@media(max-width:800px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #7a8ee8;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 90px 0px 0px 15px;
        transition: 0.4s;
    }
    #navbar a{
        margin-bottom: 25px;
    }
    #navbar.active{
        right: 0px;
    }
    #mobile {
        display: flex;
        align-items: center;
        padding-right: 55px;
    }
    #close {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 28px;
        padding-left: 25px;
    }
    #close{
        /* display: initial; */
        position: absolute;
        top: -285px;
        left: 5px;
        color: black;
        font-size: 28px;
    }
    #lg-bag{
        display: none;
    }
    #hero{
        height: 70vh;
        background-position: top 0 right 30%;
        padding: 0px 75px;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    } 
    #product1 .pro-containerr{
        justify-content: center;
    }
    #product1 .pro{
        margin: 12px;
    }
    #banner{
        height: 18vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 25%;
    }
    #newsletter .text{
        width: 100%;
    }
    #sm-banner .banner-box {
        height: 70%;
    }
    #sm-banner .banner-box2{
        margin-top: 18px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
}
@media (max-width:480px){
    #header{
        padding: 10px 5px;
    }
    
    /*
    #navbar a .login {
        margin-left: -228px;
        margin-top: -296px;
        font-size: 23px;
    }
    */    
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 35px;
    }
    .section-p1 {
        padding: 20px;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 18px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter .text {
        height: 3.12rem;
        width: 100%;
    }
    #newsletter {
        padding: 35px 18px;
    }
    #hero{
        padding:0px 20px;
        background-position: 55%;
        /* height: 80vh; */
    }
}

               /*SHOP PAGE*/            /*SHOP PAGE*/          /*SHOP PAGE*/

                                  /*HEADER SECTION*/                                    
#page-header{
    background-image: url('img/shop-ban.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 17px;
}     
#page-header h2,
#page-header p{
    color: white;
}   

                                  /*PAGINATION SECTION*/

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    padding: 15px 20px;
}
#pagination a i{
    font-size: 17px;
    font-weight: 700;
}



               /*SINPRODUCT PAGE*/            /*SINPRODUCT PAGE*/          /*SINPRODUCT PAGE*/
#prodettails{
    display: flex;
    margin-top: 15px;
}
#prodettails .single-pro-image{
    width: 35%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 25%;
    padding: 3px;
    cursor: pointer;
}
.small-img-col:hover{
    box-shadow: 0 5px 25px rgb(153, 152, 152);
}
#prodettails .single-pro-detaill{
    width: 50%;
    padding-top: 22px;
}
#prodettails .single-pro-detaill h4{
    padding: 30px 0px 15px 0;
}
#prodettails .single-pro-detaill h2{
    font-size: 30px;
}
#prodettails .single-pro-detaill select{
    display: block;
    padding: 5px 8px;
    margin-bottom: 10px;
}
#prodettails .single-pro-detaill input{
    width: 50px;
    height: 50px;
    padding-left: 12px;
    font-size: 18px;
    margin-bottom: 12px;
}
#prodettails .single-pro-detaill input:focus{
    outline: none;
}
#prodettails .single-pro-detaill button{
    background-color: #088178;
    color: white;
}
#prodettails .single-pro-detaill span{
    line-height: 27px;
}

               /*BLOG PAGE*/            /*BLOG PAGE*/          /*BLOG PAGE*/

                                    /* HOME SECTION*/

#page-header.blog-header{
    background-image: url('img/blog-ban.jpg');
}
#page-header.blog-header p{
    color: rgb(41, 40, 40);
}

                                    /* BLOG SECTION*/
#blog{
    padding: 120px 120px 0px 120px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 80px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 50px;
}
#blog img{
    width: 100%;
    height: 300px;    
    object-fit: cover;
}
#blog .blog-detail{
    width: 50%;
}
#blog .blog-detail a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
    position: relative;
    transition: 0.3s ease;
}
#blog .blog-detail a::after{
    content: "";   
    width: 60px;
    height: 1.5px;
    background-color: #1a1a1a;
    position: absolute;
    top: 7.8px;
    right: -68px;
}
#blog .blog-detail a:hover{
    color: #088178;
}
#blog .blog-detail a:hover:after{
    background-color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 80px;
    font-weight: 800;
    color: #e3e6f3;
    z-index: -9;
}
/*#blog .blog-box .lefth{
    left: 79.5%;
}*/

               /*ABOUT PAGE*/            /*ABOUT PAGE*/          /*ABOUT PAGE*/

                                    /* HOME SECTION*/

#page-header.about-header{
    background-image: url('img/about-ban.jpg');
}

                                    /* ABOUT SECTION*/
#about-head{
    display: flex;
    align-items: center;
    /* padding: 80px 120px 0px 120px; */
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div{
    padding-left: 45px;
}


#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0px auto;
}
#about-app video{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

               /*CONTACT PAGE*/            /*CONTACT PAGE*/          /*CONTACT PAGE*/
                                    /* HOME SECTION*/

#page-header.contact-header{
    background-image: url('img/con-ban.jpg');
    color: #222;
}
#page-header.contact-header h2,
#page-header.contact-header p{
    color: #1a1a1a;
}  
                                    /*CONTACT SECTION*/
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 45%;
}
#contact-details .details span{
    font-size: 15px;
}
#contact-details .details h2{
    font-size: 30px;
    line-height: 40px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 20px;
    padding-bottom: 20px;
}
#contact-details .details li{
    display: flex;
    list-style: none;
    padding: 10px 0;
}
#contact-details .details i{
    font-size: 18px;
    padding-right: 25px;
}
#contact-details .details p{
    font-size: 18px;
    margin: 0;
}
#contact-details .map{
    width: 55%;
    height: 500px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
                                    /*FORM SECTION*/
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding: 70px;
    border: 1.5px solid #e3e6f3;
}                                    
#form-details form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form span{
    font-size: 15px;
}    
#form-details form h2{
    font-size: 30px;
    line-height: 40px;
    padding: 20px 0;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 13px 15px;
    outline: none;
    margin-bottom: 25px;
    border: 2px solid #e3e6f3;
}
#form-details form button{
    background-color: #088178;
    color: white;
}
#form-details #pepole div{
    padding-bottom: 30px;
    display: flex;
    align-items: flex-start;
}
#pepole img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 20px;
}
#form-details #pepole div p{
    margin: 0;
    font-size: 15px;
    line-height: 22px;
}
#form-details #pepole div p span{
    font-size: 19px;
    font-weight: 700;
    display: block;
    color: black;
}

               /*CART PAGE*/            /*CART PAGE*/          /*CART PAGE*/
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart{
    overflow: auto;
}
#cart table  thead{
    border: 1.5px solid #e3e6f3;
    border-left: none;
    border-right: none;
}
#cart table  thead td{
    font-weight: 700;
    font-size: 15px;
    padding: 15px 0;
}
#cart table img{
    width: 70px;
    height: 80px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 60px;
    padding: 5px 5px 5px 10px;
}
#cart table  tbody tr td{
    padding-top: 20px;
}
#cart table  tbody td{
    font-size: 15px;
}

                                    /*CART-ADD SECTION*/
#cart-add{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}                                    
#coupon{
    width: 50%;
    margin-bottom: 35px;
}
#coupon h3,
#subtotal h3{
    padding: 20px 20px;
}
#coupon input{
    margin-left: 65px;
    width: 60%;
    outline: none;
    padding: 12px 25px;
    margin-right: 13px;
    border: 1.5px solid #e3e6f3;
}
#coupon button{
    color: white;
    padding: 13px 25px;
    background-color: #088178;
}
#subtotal{
    width: 50%;
    margin-bottom: 35px;
    padding: 20px;
    border: 1.5px solid #e3e6f3;
    /* margin-right: 13px; */
}
#subtotal table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}
#subtotal table td{
    width: 50%;
    border: 1.5px solid #e3e6f3;
    font-size: 15px;
    padding: 13px;
}
#subtotal button{
    color: white;
    background-color: #088178;
}
@media (max-width:480px){
    #prodettails {
        display: flex;
        flex-direction: column;
    }
    #prodettails .single-pro-image{
        width: 100%;
        margin-right: 0px;
        padding-top: 75px;
    }
    #prodettails .single-pro-detaill {
        width: 100%;
    }
    #page-header {
        padding-top: 105px;
    }
    #blog {
        padding: 80px 15px 0px 15px;
    }
    #blog .blog-box {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 35px;
    }
    #blog .blog-detail{
        width: 100%;
    }
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 15px;
    }
    #about-head div {
        padding-left: 0px;
    }
    #about-app .video{
        width: 100%;
    }
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 25px;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details {
        margin: 40px;
        padding: 25px 8px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
    }
    #cart-add{
        flex-direction: column;
    }  
    #coupon{
        width: 100%;
        margin-bottom: 25px;
    }
    #subtotal {
        width: 100%;
        padding: 15px;
    }
}




@media(max-width:800px){
    #blog .blog-box {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 35px;
    }
    #blog .blog-detail{
        width: 100%;
    }
    #form-details {
        padding: 10px;
    }
    #form-details form {
        width: 80%;
    }
    
}













